<div class="container">
  <% @articles.each do |a| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow-lg mb-5 bg-white rounded">
        <div class="card-header fst-italic">
          by <%= link_to a.user.username.capitalize, user_path(a.user), class: "copy-right"%>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to a.title.capitalize, article_path(a), class: "copy-right text-success" %></h5>
          <div class="card-text"><%= simple_format(truncate(a.description, length:100)) %></div>
          <%= link_to 'View', article_path(a), class: "btn btn-outline-success" %>
          <%= link_to 'Edit', edit_article_path(a) ,class: "btn btn-outline-primary"%>
          <%= link_to 'Delete', article_path(a), data: { turbo_method: "delete", turbo_confirm: "Are you sure to delete" }, class: "btn btn-outline-danger" %>
        </div>
        <div class="card-footer text-muted">
          <p> created <%= time_ago_in_words(a.created_at) %> ago, updated <%= time_ago_in_words(a.updated_at) %> ago </p>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>