<% if @article.errors.any? %>
<h2>The following errors prevented the article from being saved</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


<%= form_with(model: @article, local:true) do |f| %>
<div class="container">
  <div class=" form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description ,rows:10, class:"form-control" %>
  </div>

  <div class="submit-button">
    <%= f.submit class: "btn btn-outline-dark btn-lg" %>
  </div>
</div>
<% end %>