<h1 class=" text-center mt-4 text-success"><%=@article.title.capitalize%></h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow-lg mb-5 bg-white rounded">
        <div class="card-header fst-italic">
          by <%= link_to @article.user.username.capitalize, user_path(@article.user) , class:"copy-right"%>
        </div>
        <div class="card-body">
          <div class="card-text"><%= simple_format(@article.description) %></div>
          <%if logged_in? && (@article.user == current_user || current_user.admin?)%>
          <%= link_to 'Edit', edit_article_path ,class: "btn btn-outline-primary"%>
          <%= link_to 'Delete', article_path, data: { turbo_method: "delete", turbo_confirm: "Are you sure to delete" }, class: "btn btn-outline-danger" %>
          <%end%>
        </div>
        <div class="card-footer text-muted">
          <p> created <%= time_ago_in_words(@article.created_at) %> ago, updated <%= time_ago_in_words(@article.updated_at) %> ago </p>
        </div>
      </div>
    </div>
  </div>
</div>