<%# <%= render 'shared/errors', obj: @user %>
<%= form_with(model: @user, local:true) do |f| %>
<div class="container">
  <div class=" form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email , class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_digest %><br />
    <%= f.password_field :password_digest , class:"form-control" %>
  </div>

  <div class="submit-button">
    <%= f.submit(@user.new_record? ? "Sign up" : "update account", class: "btn btn-outline-dark btn-lg") %>
  </div>
</div>
<% end %>